<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/profile-layout}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title th:text="#{settings.title.addProduct}"></title>
</head>
<body>

    <th:block layout:fragment="section">
        <h2 class="settings-section__title" th:text="#{settings.section.addProduct.title}"></h2>


        <form th:action="@{/profile/products/addProduct}" enctype="multipart/form-data" method="post" th:object="${productAddForm}"
              class="settings-section__form">
            <div class="settings-section__input-wrapper">
                <label class="settings-section__label">
                    <th:block th:text="Название"/>
                    <input type="text" pattern="^[a-zA-Zа-яА-Я0-9 ]+$" maxlength="50" name="productName"></label>
                <span class="settings-section__error" th:errors="*{productName}"></span>
            </div>
            <div class="settings-section__input-wrapper">
                <label class="settings-section__label">
                    <th:block th:text="Стоимость"/>
                    <input type="text" pattern="^[0-9]+$" maxlength="9" name="cost"></label>
                <span class="settings-section__error" th:errors="*{cost}"></span>
            </div>
            <div class="settings-section__input-wrapper">
                <label class="settings-section__label">
                    <th:block th:text="Колличество"/>
                    <input type="text" pattern="^[0-9]+$" maxlength="9" name="quantity"></label>
                <span class="settings-section__error" th:errors="*{quantity}"></span>
            </div>
            <div class="settings-section__input-wrapper">
                <label class="settings-section__label">
                    <th:block th:text="Описание"/>
                    <input type="text" pattern="^[a-zA-Zа-яА-Я0-9., ]+$" maxlength="200" name="description"></label>
                <span class="settings-section__error" th:errors="*{description}"></span>
            </div>
            <div class="settings-section__input-wrapper">
                <label class="settings-section__label">
                    <th:block th:text="Категория"/>
                    <select name="mainCategory" th:with="langCategory=(__${#locale}__=='en'?'en':'ru') + 'Category'"
                            th:size="${catalog.getSubCategories().size()}">
                        <option th:each="category : ${catalog.subCategories}"
                                th:text="${category['__${langCategory}__']}"
                                th:value="${category.getEnCategory()}"></option>
                    </select></label>
            </div>
            <div class="settings-section__input-wrapper">
                <label class="settings-section__label">
                    <th:block th:text="Подкатегория"/>
                    <select name="motherCategory"></select></label>
                <span class="settings-section__error" th:errors="*{motherCategory}"></span>
            </div>
            <div class="settings-section__input-wrapper">
                <label class="settings-section__label">
                    <th:block th:text="|Изображения товара|"/>
                    <input type="file" name="files" multiple accept="image/png, image/jpeg"></label>
                <span class="settings-section__error" th:errors="*{files}"></span>
            </div>
            <button class="button settings-section__button" type="submit">Добавить</button>
        </form>

    </th:block>
    <th:block layout:fragment="jsscript">
        <script th:src="@{/js/addProduct.js}"></script>
    </th:block>
</body>
</html>