<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/main_media.css}">
    <link rel="stylesheet" th:href="@{/css/authorization.css}">
    <title th:text="#{passwordRecovery.title}"></title>
</head>
<body>
    <div class="auth-container">
        <div class="auth">
            <div class="auth-title" th:text="#{passwordRecovery.form.title}"></div>
            <form th:action="@{/login/passwordRecovery}" method="post" class="auth-form" th:object="${passwordRecoveryForm}">
                <div class="auth-input-wrapper">
                    <input class="auth-input" type="text" name="username"
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                           th:field="*{email}" required>
                    <label class="auth-label" th:text="#{enter.email}"></label>
                </div>
                <div class="login-error" th:errors="*{email}"></div>
                <button type="submit" class="button auth-button" th:text="#{passwordRecovery.button.submit}"></button>
            </form>
        </div>
    </div>
</body>
</html>